body {
  background-color: black;
}

h1{
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 24px;
  text-align: center;
  background-color: cadetblue;
  width: 80%;
  margin: 0 auto;
}

.intro {
  color: white;
  width: 80%;
  font-size: 20px;
  margin: 0 auto;
}
